<%- include("../partials/adminNavbar.ejs") %>

    <main class="mt-5 pt-3">
                <div class="fw-b fs-3 container-fluid">All active Plans</div>
                <div class="container m-40">
                <form>
                    <div class="mb-3">
                      <label class="form-label">Plan Name</label>
                      <input type="text" class="form-control" name="">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Amount</label>
                        <input type="text" class="form-control" name="">
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Description</label>
                        <input type="text" class="form-control" name="">
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Plan Name</label>
                        <input type="text" class="form-control" name="">
                      </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                  </form>
            </div>
    </main>