<%- include("../partials/adminNavbar.ejs") %>


<main class="mt-5 pt-3">
    <div class="fw-b fs-3 container-fluid">Add shecdule</div>
    <div class="container m-40">
    <form action="/addschedule" method="post">
        <div class="mb-3">
          <label class="form-label">Title</label>
          <input type="text" class="form-control" name="title">
        </div>
        <div class="mb-3">
            <label class="form-label">Time</label>
            <input type="text" class="form-control" name="time">
          </div>
          <div class="mb-3">
            <label class="form-label">Plan</label>
            <select class="form-select" name="plan">
              <% plan.forEach(plans => { %>
                <option value="<%= plans.name %>"><%= plans.name %></option>
              <% }) %>
              </select>
          </div>
          
          <div class="mb-3">
            <label class="form-label">Add Link</label>
            <input type="url" class="form-control" name="link">
          </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
</div>
</main>

<%- include("../partials/script") %>