<%- include("../partials/adminNavbar.ejs") %>
    <main class="mt-5 pt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 fw-bold fs-3">All active Plans</div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">Data Table</div>
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Plan Name</th>
                                <th scope="col">Price (rs)</th>
                                <th scope="col">Duration</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Basic</td>
                                <td>1312/-</td>
                                <td>4 weeks</td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Intermediate</td>
                                <td>2624/-</td>
                                <td>8 weeks</td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>Advanced</td>
                                <td>3498/-</td>
                                <td>12 weeks</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                    </div>
                </div>
            </div>
    </main>

    <%- include("../partials/script") %>