#offcanvasExample{
    width: 270px;
    color: #fff;
}


@media (min-width:992px){
    body{
        overflow: auto !important;
    }
    .offcanvas-backdrop::before{
        display: none;
    }
    main{
        margin-left: 270px;
    }
    #offcanvasExample{
        transform: none;
        visibility: visible;
        top: 67px;
        height: calc(100% - 67px);
    }
}